.layout-tecnologia {
    padding: 5%;
    font-size: 1.7rem;
    color: cornflowerblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.layout-hashtag {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 4.2rem;
    color: #4D73E2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.layout-representatividade {
    padding: 5%;
    font-size: 1.7rem;
    background-color: #FF7F27;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.layout-curiosidade {
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FF7F27;
    font-size: 2.7rem;
    text-align: center;
}

.layout-acreditar {
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #67449E;
    font-size: 2.7rem;
    text-align: center;
}

.layout-trilhas {
    padding: 5%;
    background-color: #FFB5B5;
    color: #fff;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

    .layout-trilhas > div > a {
        color: white;
    }

        .layout-trilhas > div > a:hover {
            color: #9a9797;
        }

.layout-footer {

    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #8A9BD2;
}

.button-cadastro {
   color:white;
}


/* override position and transform in 3.3.x */
.carousel-inner .item.left.active {
    transform: translateX(-33%);
}

.carousel-inner .item.right.active {
    transform: translateX(33%);
}

.carousel-inner .item.next {
    transform: translateX(33%)
}

.carousel-inner .item.prev {
    transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left {
    transform: translateX(0);
}
