@{

    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
    ViewBag.Title = "Contato";

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        
    </head>
    <body>
        
        
    <div>
        <h1 class="text-center">@ViewBag.Title</h1>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2">Nome</label>
            <div class="col-md-10">
                <input type="text" name="name" id="name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">E-mail</label>
            <div class="col-md-10">
                <input type="text" name="email" id="email" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-2">Mensagem</label>
            <div class="col-md-10">
                <textarea cols="1010" rows="5" name="msg" id="msg" size="100" maxlength="100"></textarea>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Enviar" class="btn btn-dark" />
            </div>
        </div>
    </div>
    </body>
}

