@{

    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
    ViewBag.Title = "Cadastro Realizado";

}

<div>
    <h1 class="text-center" style="color: green">Cadastro Realizado com Sucesso! </h1>
</div>