@{

    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
    ViewBag.Title = "Home";

}

<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img src="~/img/slide01.jpg" class="d-block w-100" alt="experimente seu futuro">
            </div>
            <div class="carousel-item">
                <img src="~/img/home-img-0.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Aprenda de forma descontraida</h5>
                    <p>Utilize a tecnologia a seu favor!<p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/slide01.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="programa" class="row layout-tecnologia">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>Aqui você pode experimentar e conhecer as profissões tecnológicas que terão maior visibilidade nos próximos anos. E poder se preparar para as transformações pessoais, digitais, tecnológicas e sociais que tem ocorrido.</p>
            <p>Saber quais os caminhos mais indicados para seguir uma profissão nem sempre é fácil, na vida de muitos estudantes.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="img-fluid" src="~/img/home-img-1.jpg" alt="mulheres na tecnolgia" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class=" center layout-hashtag">#MaisMulheresNaTecnologia</h2>
        </div>
    </div>
    <div class="row layout-representatividade">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h2 class="representatividade-title">REPRESENTATIVIDADE_</h2>
            <p>Reservamos o espaço para ELAS.</p>
            <p>Garotas estudantes do 9º ano a 3º do ensino médio, de escolas públicas e particulares.</p>
            <p>TODO O NOSSO APOIO a escolher o curso superior de tecnologia que mais se encaixa com seu perfil.</p>
            <p>Além da visita nos estandes virtuais dos cursos oferecidos pelas universidades, insitutos e faculdades em todo o país.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="img-fluid" src="~/img/home-img-2.png" alt="representatividade" />
        </div>
    </div>
    <div class="row layout-curiosidade">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="img-fluid" src="~/img/home-img-3.png" alt="mulheres representam apenas 20% dos profissionais de TI" />
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>VOCÊ SABIA QUE NO BRASIL AS MULHERES REPRESENTAM APENAS 20% DOS PROFISSIONAIS NA ÁREA DE TECNOLOGIA?</p>
        </div>
    </div>
    <div class="row layout-trilhas">
        <div class="col-sm-6 col-md-3 col-lg-2 offset-lg-2">
            <a href="#">
                <img class="img-fluid" src="~/img/blue0.png" alt="trilhas de carreiras" />
                <p>Trilhas de carreira na área de tecnologia.</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
                <img class="img-fluid" src="~/img/blue1.png" alt="cursos com certificados" />
                <p>Cursos com certificados</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
                <img class="img-fluid" src="~/img/blue2.png" alt="Mentores veteranos" />
                <p>Veteranxs, mentores, professores, psicólogos</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2 ">
            <a href="#">
                <img class="img-fluid" src="~/img/blue3.png" alt="makerspace digital" />
                <p>Makerspace digital, projetos em grupos</p>
            </a>
        </div>
    </div>
    <div class="row layout-acreditar">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>Acreditamos que unidas para transformação digital, irá minimizar as diferenças de gênero no setor tecnológico.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="img-fluid" src="~/img/home-img-4.jpg" alt="União para a transformação digital." />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="center layout-hashtag">_Vamos criar mulheres para a tecnologia_</h2>
        </div>
    </div>

</div>