@{
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Inspire-se hoje!</h1>
    <div class="col-md-12">
        <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="card col-md-4">
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="~/img/inspire-1.jpg" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Grazia Vittadini</h5>
                                <p class="card-text">Diretora de Tecnologia da Airbus, França / Itália.</p>
                            </div>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <p>Quando você trabalha em aeronáutica, o céu não é o limite. Quando jovem, chutando bolas de futebol e percorrendo campos lamacentos com seus amigos, Grazia Vittadini não fazia ideia de que um dia seria uma figura de liderança em uma empresa que fatura 67 bilhões de euros anualmente e domina a indústria aeroespacial.</p>
                                <a href="https://www.airbus.com/company/corporate-governance/grazia-vittadini.html" target="_blank" class="btn btn-secondary">Clique aqui e saiba mais...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card col-md-4">
                        <a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">

                            <img src="~/img/inspire-2.jpg" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Lorena Jaume-palasí</h5>
                                <p class="card-text">Fundadora da Algorithmwatch e Ethical Tech Society.</p>
                            </div>
                        </a>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                A filósofa digital Lorena Jaume-Palasí analisa a relação entre humanos e tecnologia. Foi nomeada para o Conselho dos Sábios sobre Inteligência Artificial e Política de Dados pelo governo espanhol e foi membro do Grupo de Peritos de Alto Nível da UE em Inteligência Artificial. No entanto, ela ainda precisa lutar pelo controle do microfone.
                                <a href="#" target="_blank" class="btn btn-secondary">Clique aqui e saiba mais...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card col-md-4">
                        <img src="~/img/inspire-3.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Joana Breidenbach</h5>
                            <p class="card-text">
                                Fundadora da Betterplace.org e Betterplace.Lab, Alemanha.
                            </p>

                        </div>
                    </div>
                    <div class="item">
                        <div class="card col-md-4">
                            <img src="~/img/inspire-4.jpg" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Zahra Shah</h5>
                                <p class="card-text">Programme Manager at Re: Coded, Iraq/Pakistan.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>

            </div>
        </div>

    </div>
    <br /><br /><br /><br />


</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <h2>Conheça alguns dos nossos cursos!</h2>
    <div class="row">
        <div class=" col-md-3">
            <div class="card">
                <a data-toggle="collapse" href="#html" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/img/html5.png" class="card-img-top" alt="HTML5">
                    <div class="card-body">
                        <h5>HTML5</h5>
                    </div>
                </a>
                <div class="collapse" id="html">
                    <div class="card card-body">
                        <p>HTML5 é uma linguagem de marcação para a World Wide Web e é uma tecnologia chave da Internet, originalmente proposto por Opera Software. É a quinta versão da linguagem HTML.</p>
                        <a href="#" target="_blank" class="btn btn-secondary">Clique aqui e saiba mais...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-3">
            <div class="card">
                <a data-toggle="collapse" href="#css" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/img/css.png" class="card-img-top" alt="CSS3">
                    <div class="card-body">
                        <h5>CSS3</h5>
                    </div>
                </a>
                <div class="collapse" id="css">
                    <div class="card card-body">
                        <p>CSS3 é a terceira mais nova versão das famosas Cascading Style Sheets (ou simplesmente CSS), pela qual se define estilos para um projeto web (página de internet).</p>
                        <a href="#" target="_blank" class="btn btn-secondary">Clique aqui e saiba mais...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-3">
            <div class="card">
                <a data-toggle="collapse" href="#php" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/img/php.png" class="card-img-top" alt="PHP">
                    <div class="card-body">
                        <h5>PHP</h5>
                    </div>
                </a>
                <div class="collapse" id="php">
                    <div class="card card-body">
                        <p>PHP é uma linguagem interpretada livre, usada originalmente apenas para o desenvolvimento de aplicações presentes e atuantes no lado do servidor, capazes de gerar conteúdo dinâmico na World Wide Web.</p>
                        <a href="#" target="_blank" class="btn btn-secondary">Clique aqui e saiba mais...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-3">
            <div class="card">
                <a data-toggle="collapse" href="#mysql" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/img/mysql.png" class="card-img-top" alt="MySql">
                    <div class="card-body">
                        <h5>MySql</h5>
                    </div>
                </a>
                <div class="collapse" id="mysql">
                    <div class="card card-body">
                        <p>O MySQL é um sistema de gerenciamento de banco de dados, que utiliza a linguagem SQL como interface. É atualmente um dos sistemas de gerenciamento de bancos de dados mais populares da Oracle Corporation, com mais de 10 milhões de instalações pelo mundo</p>
                        <a href="#" target="_blank" class="btn btn-secondary">Clique aqui e saiba mais...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
